

.form{
	margin: 0 auto;
	width: 450x;
	padding: 15px;
}

#style {
	border: solid 2px #e67e00;
	background: #ffddb3;
	width: 450px;
}

#style h1 {
	text-align: center;
}

#style p{
	font-size: 18px;
}

#style label {
display:block;
text-align:right;
width:150px;
float: left;
}

